.playbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background-color: white;
  color: var(--primary);
  padding: 1rem 2rem;
  margin: 1rem;
  width: 80%;
}

@media screen and (min-width: 900px) {
  .playbar {
    width: 50%;
  }
}